@import "../node_modules/bootstrap/scss/bootstrap";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../image/ATEXS\ \(1\).png') no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.logo {
    padding: 6px;
    width: 200px;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    display: block;

}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper h1 {
    font-size: 36px;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 30px 0;
    color: white;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid white;
    outline: none;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    color: white;
}

.input-box input::placeholder {
    color: #0e1d3e;
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    font-size: 14px;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    background: white;
    color: #0e1d3e;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.wrapper .register-link {
    text-align: center;
    margin-top: 20px 0 15px;
    font-size: 14px;
}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}